{% extends 'common/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block extrahead %}
<link href="{% static 'account/css/sign_up.css' %}" rel="stylesheet">
{% endblock %}

{% load material_form %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
          <div class="card-panel">
            <h4>Sign Up</h4>
              <form action="{% url 'sign_up' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% form form=f %}
                  {% endform %}
                  <br>
                  <div class="row">
                      <div class="col s12">
                          <button type="submit" name="sign-up" class="btn waves-effect waves-light left">
                              Sign Up
                          </button>
                      </div>
                  </div>
                  <br>
              </form>
          </div>
        </div>
    </div>
{% endblock %}