<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>{% block page_title %}Welcome!{% endblock %}</title>
    {% include 'material/includes/material_css.html' %}
    <script src = "{% static 'common/js/jquery-3.1.0.min.js' %}"></script>
    <script src = "{% static 'common/js/base.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <link href="{% static 'common/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'common/css/base.css' %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% block body_scripts %}{% endblock %}
</body>
</html>
